{% extends "base.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/lyrics.js')}}"> </script>
{% endblock %}
{% block content %}
<div id="lyrics" class="lyrics-container">
    <div id="prev-2" class="lyric-line far-previous"></div>
    <div id="prev-1" class="lyric-line previous"></div>
    <div id="current" class="lyric-line current"></div>
    <div id="next-1" class="lyric-line next"></div>
    <div id="next-2" class="lyric-line far-next"></div>
    <div id="next-3" class="lyric-line far-next"></div>
</div>
{% endblock %}